    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3">2018 trgtr. All Rights Reserved.</small>
            </div>
            <div class="col-6 col-md">
                <h6 class="font-weight-bold text-info">LEGAL</h6>
                <nav class="nav master-footer__nav flex-column">
                        <a class="nav-link px-0 py-2" href="#">Terms of service</a>
                        <a class="nav-link px-0 py-2" href="#">Privacy Policy</a>
                        <a class="nav-link px-0 py-2" href="#">Security Policy</a>
                        <a class="nav-link px-0 py-2" href="#">Disclaimer</a>
                </nav>
            </div>
            <div class="col-6 col-md">
                <h6 class="font-weight-bold text-info">MEMBERSHIP</h6>
                <nav class="nav master-footer__nav flex-column">
                    <a class="nav-link px-0 py-2" href="#">Plans & Pricing</a>
                    <a class="nav-link px-0 py-2" href="#">Register</a>
                    <a class="nav-link px-0 py-2" href="#">Login</a>
                </nav>
            </div>
            <div class="col-6 col-md">
                <h6 class="font-weight-bold text-info">SUPPORT</h6>
                <nav class="nav master-footer__nav flex-column">
                    <a class="nav-link px-0 py-2" href="#">FAQ & Help</a>
                    <a class="nav-link px-0 py-2" href="#">Contact us</a>
                </nav>
            </div>
            <div class="col-6 col-md">
                <h6 class="font-weight-bold text-info">COMPANY</h6>
                <nav class="nav master-footer__nav flex-column">
                    <a class="nav-link px-0 py-2" href="#">About Us</a>
                </nav>
            </div>
        </div>
    </div>







