<div class="container">
    <div class="row">
        <div class="col-12 col-md py-2 d-flex align-items-center">
            <img src="{{assets}}/img/logo-trgtr-white.svg" style="width:60px" alt="trgtr" class="mr-2"> <small>2018 trgtr. All Rights Reserved.</small>
        </div>
    </div>
</div>







