<nav class="navbar navbar-expand-lg master-header__navbar py-md-4 container">
        <!-- Brand -->
        <a class="navbar-brand" href="index.html"><img src="{{assets}}/img/logo-trgtr-black.svg" alt="trgtr"></a>
        <!-- /Brand -->

        <!-- Header navbar toggle button -->
        <button class="navbar-toggler minus collapsed" type="button" data-toggle="collapse" data-target="#nav-content"
                aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <!-- To display the "hamburger icon" -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <!-- /To display the "hamburger icon" -->
        </button>
        <!-- /Header navbar toggle button -->

        <div class="collapse navbar-collapse justify-content-start" id="nav-content">

            <!-- Header right navigation -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link px-md-4 py-2 mr-3" href="pricing.html">Product & Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-md-3 py-2" href="login.html">Login</a>
                </li>
                <li class="nav-item d-none d-md-block">
                    <span class="nav-link px-0 py-2">or</span>
                </li>
                <li class="nav-item  py-2 py-md-0">
                    <a class="btn btn-primary btn-raised" href="register.html" role="button">Sign Up</a>
                </li>
            </ul>
            <!-- /Header right navigation -->
        </div>
</nav>