---
title: "About us"
company: true
posted: 2018-03-09
---

<!-- Page Title -->
<div class="jumbotron jumbotron-fluid m-0 p-3 py-md-5 px-md-0 bg-secondary content__jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center font-weight-bold">Our <mark class="p-0 mark-primary">Story</mark></h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<!-- Page contents -->
<div class="container bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <h1 class="font-weight-bold text-center pb-2 text-info">Accurate and Affordable Professional Contacts</h1>
            <div class="row text-center my-5">
                <div class="col-md-6">
                    <img src="{{assets}}/img/pro-email-address.png" class="img-fluid mb-4" alt="trgtr" >
                    <h3 class="font-weight-bold">Professional Email Address</h3>
                    <p class="lead my-3">Find the right contact details of 120 million+ professionals from across the world</p>
                </div>
                <div class="col-md-6">
                    <img src="{{assets}}/img/rl-email-validation.png" class="img-fluid mb-4" alt="trgtr" >
                    <h3 class="font-weight-bold">Real-time Email Validation</h3>
                    <p class="lead my-3">Ensure up-to-date email addresses by validating your selection in real-time</p>
                </div>
            </div>
            <p class="lead text-primary text-center mt-5">1000+ customers including Sales Representatives, Marketers, Startup Founders,
                Recruiters and Established Companies</p>
        </div>
    </div>
</div>
<!-- /Page contents -->

