---
title: "Bulk Searches"
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Bulk Searches</h4>
                    <a class="btn btn-info btn-sm ml-auto" href="bulk_domain-new.html" role="button"><i class="icon-plus"></i>Create new</a>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">Emails</th>
                                        <th scope="col">Domains</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><h5 class="mb-0">test</h5>
                                        <small class="text-muted">Apr 3 2008</small></td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td class="text-right">
                                            <a class="text-info" href="#"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


