---
title: "Help"
support: true
posted: 2018-03-09
---

<!-- Page Title -->
<div class="jumbotron jumbotron-fluid m-0 p-3 py-md-5 px-md-0 bg-secondary content__jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center font-weight-bold">Help</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<!-- Page contents -->
<div class="container bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <ul class="nav nav-tabs extended-boxed info-box" id="myTab-23" role="tablist">

                <li class="nav-item">
                    <a class="nav-link py-3 px-5 active" id="tutorial-tab" data-toggle="tab" href="#tutorial" role="tab"
                       aria-controls="tutorial" aria-selected="true">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 px-5" id="faq-tab" data-toggle="tab" href="#faq-1" role="tab"
                       aria-controls="faq-1" aria-selected="false">Frequently Asked Questions?</a>
                </li>

            </ul>
            <div class="tab-content hasborder">
                <div class="tab-pane p-3 fade show active" id="tutorial" role="tabpanel"
                     aria-labelledby="tutorial-tab">

                    <ul class="list-group list-group-flush mb-5">
                        <li class="list-group-item">
                            <a href="#help-1" class="text-info">Find email address for a domain</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#help-2" class="text-info">The Trust Score (TS)</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#help-3" class="text-info">Download email addresses</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#help-4" class="text-info">Bulk Domain Search</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#help-5" class="text-info">Create leads in L4leads</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#help-6" class="text-info">Hubspot integration</a>
                        </li>
                    </ul>


                    <div class="card" id="help-1">
                        <div class="card-header">
                            <h5 class="card-title">Find email address for a domain </h5>
                            <div class="card__actions window ml-auto">
                                <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                                <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>L4Leads domain search makes it easy to find email addresses associated with a single domain name (ex. domain.com). To find
                                a domain simply insert or copy and paste the domain name into the input box located in
                                the dashboard. L4leads will automatically find all the available email addresses associated
                                with it the following information, when available:
                            </p>
                            <ul>
                            <li>Full name</li>
                            <li>Job title</li>
                            <li>Telephone number</li>
                            <li>Twitter profile</li>
                            <li>LinkedIn profile</li>
                        </ul>

                            <span class="h5"><strong class="text-muted">Show sources for each email address</strong></span>
                            <br> Click the arrow next to the number of available sources to expand them. All links are
                            active and they will lead you to the specific page where l4leads found that email by
                            providing a reference date too.
                            <br><br>
                            <span class="h5"><strong class="text-muted">Filter the results</strong></span>
                            <br> You can filter Generic or Personal email addresses. Generic email addresses are role-based
                            email addresses, like contact@ or support@. Personal email addresses are the professional
                            email addresses of the people inside the organization, like firstname.lastname@apple.com.

                        </div>
                    </div>
                    <div class="card" id="help-2">
                        <div class="card-header">
                            <h5 class="card-title">The Trust Score (TS)</h5>
                            <div class="card__actions window ml-auto">
                                <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                                <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Each email address resulted after a Domain Search is provided by a Trust Score.
                                Each email address can show a green, orange or red dot next to it.
                                These dots are a good indicator for the deliverability of the
                                email and, by hovering it, you’ll get the accurate % of the Trust Score.
                            </p>
                        </div>
                    </div>
                    <div class="card" id="help-3">
                        <div class="card-header">
                            <h5 class="card-title">Download email addresses </h5>
                            <div class="card__actions window ml-auto">
                                <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                                <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Need to export a list of email addresses?
                                Don’t copy and paste them but click the “Export in CSV” button instead.
                            </p>
                        </div>
                    </div>
                    <div class="card" id="help-4">
                        <div class="card-header">
                            <h5 class="card-title">Bulk Domain Search </h5>
                            <div class="card__actions window ml-auto">
                                <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                                <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>The Bulk Domain Search is the right functionality if you need to search email addresses for multiple domains at once. Let
                                us show you in 2 minutes how to create your first Bulk Domain Search.
                            </p><ol>
                            <li>Click the Access button in the Domain Search section.</li>
                            <li>Select + New bulk.</li>
                            <li>Set a List Name in the text box and choose if you want to Upload a fileor Enter domain
                                names, one per line.</li>
                            <li>Choose if you want to upload a list of domains or companies.</li>
                        </ol>
                            <br>
                            <span class="h5"><strong class="text-muted">Upload a CSV / TXT file with a list of domains or companies</strong></span>
                            <br> Make sure to create a CSV file with all the domains or companies you want to find the
                            email addresses for. This file can have multiple columns but all the domains or company
                            names should be in the same column.
                            <br>
                            <ol>
                                <li>Click Select a file...</li>
                                <li>Choose the CSV or .TXT file you want to find the email addresses for.</li>
                                <li>Select Download to save the file.</li>
                                <li>Or click the Preview link to access to a free preview of the file.</li>
                            </ol>
                            <span class="h5"><strong class="text-muted">Copy and paste a list of domains or companies to find email addresses for them</strong></span>
                            <ol>
                                <li>Copy and paste the list of domains names in the text box. Make sure to enter only one domain per line and click on create.</li>
                                <li>Now your new list will appear on the list of bulk tasks.  Click the "Export" link to download the list</li>
                                <li>Open the file in Excel or similar software.</li>
                            </ol>
                            <span class="h5"><strong class="text-muted">How to read your Bulk Domain Search file</strong></span>
                            The .CSV file with the email addresses generated by L4leads contains several fields.
                            Let’s have a look at them together:

                            <ol>
                                <li>Email address: the email address found from L4leads.</li>
                                <li>Domain name: the domain associated with an email address.</li>
                                <li>Trust Score: an indicator for the deliverability of the email </li>
                                <li>Type: an email can be personal or generic.</li>
                                <li>Sources: the number of sources where you can find that email address.</li>
                            </ol>

                            The resulted file will also contain additional information for every email address when available:

                            <ul style="list-style-type:circle">
                                <li>Full name</li>
                                <li>Job title</li>
                                <li>Telephone number</li>
                                <li>Twitter profile</li>
                                <li>LinkedIn profile</li>
                            </ul>
                            <span class="h5"><strong class="text-muted">Filters</strong></span><br>
                            In the Filters section, you’ll be able to:
                            <ol>
                                <li>Set a maximum number of email addresses p/domain or company name: enter the maximum amount of email addresses you want to get for a single domain.</li>
                                <li>Choose if you want to only get Generic, Personal email addresses or both.</li>
                            </ol>
                            <span class="h5"><strong class="text-muted">To sum things up</strong></span><br>
                            The Bulk Domain Search functionality can be used by Premium Accounts only.
                            A new Bulk Domain Search can be performed in two different methods:
                            <ol>
                                <li>By uploading a CSV file.</li>
                                <li>By copying and pasting a list of domains or company names.</li>
                            </ol>
                            The following information can be found in a Bulk Domain Search:
                            <ol>
                                <li>The creation date.</li>
                                <li>The number of email addresses returned.</li>
                                <li>The number of domains analysed.</li>
                                <li>The number of request this search is requiring.</li>
                            </ol>
                            <span class="h5"><strong class="text-muted">Bulk Domain Search Usage</strong></span><br>
                            You will see an error message in case your plan hasn’t enough available requests to perform the task.
                            The list of email addresses of a Bulk Domain Search can be downloaded multiple times.
                            Only the first download needs requests to be performed.

                        </div>
                    </div>
                    <div class="card" id="help-5">
                        <div class="card-header">
                            <h5 class="card-title">Create leads in L4leads</h5>
                            <div class="card__actions window ml-auto">
                                <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                                <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p><span class="h5"><strong class="text-muted">What are leads?</strong></span><br>
                                A lead is a potential contact for you and your organization.
                                Saving leads in L4leads helps to keep a record of new people to contact to better
                                automate your marketing efforts or to simply save important professional contacts.
                                Saving a new lead in L4leads like adding a new contact to your agenda.
                                You can always access to it, edit the information on it and import it in your favourite CRM.<br><br>

                                <span class="h5"><strong class="text-muted">How can I add a lead?</strong></span><br>
                                Leads can be saved directly from the Domain Search.
                                Every email provided by L4Leads with a full name has a “+ Create New” symbol next to it (please note that emails that do not have a full name cannot be saved as leads.
                                This applies to generic emails too, for example info@domain.com).
                            </p><ol>
                            <li>To save a lead simply click the “+ Create New” button next to each contact you would like to save.</li>
                            <li>In the bottom left corner of the screen you can open the currently selected list, change the list where you want to save the lead or create a new list. Make sure to set the list where you want to save your lead before saving it.</li>
                            <li>Set a List Name in the text box and choose if you want to Upload a fileor Enter domain
                                names, one per line.</li>
                            <li>Choose if you want to upload a list of domains or companies.</li>
                        </ol>

                            <span class="h5"><strong class="text-muted">Save leads from L4leads Chrome Extension</strong></span><br>

                            You can also save leads while surfing the web using  L4leads  Chrome Extension by simply clicking the “+ Create New” button
                            next to each contact you would like to save in your list of leads.

                            <span class="h5"><strong class="text-muted">How to create a lead manually</strong></span><br>
                            <ol>
                                <li>Go to the leads section of your account and select the + New Lead button.</li>
                                <li>Complete the fields with the lead’s information.</li>
                                <li>You can add more information by clicking the More fields link. Once you are ready, hit the Create the lead button.</li>
                                <li>You’ll see the new lead at the top of the list.</li>
                            </ol>

                            <span class="h5"><strong class="text-muted">Managing your existing leads</strong></span><br>
                            You can manage your leads in the leads section of your account. Click on a lead to see all its information.
                            In this section it’s possible to connect a lead to one of our integrations and to delete it.
                            Your list of leads can be downloaded once at a time by clicking the Download in CSV button in the leads section.
                            Simply open the CSV file with Excel or similar software to edit or view to the downloaded leads.

                        </div>
                    </div>
                    <div class="card" id="help-6">
                        <div class="card-header">
                            <h5 class="card-title">Hubspot integration </h5>
                            <div class="card__actions window ml-auto">
                                <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                                <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>This tutorial will show you how to connect L4leads to your Hubspot account to quickly synchronize your leads.
                                To get started simply go to the Leads section of your account.
                            </p><ol>
                            <li>Click the “Connect with a service button”.</li>
                            <li>Select Hubspot</li>
                            <li>Enter your Hubspot credentials and log in to authorize the integration.</li>
                            <li>Now you’ll see Hubspot in the “Connected Applications”.</li>
                            <li>Log in to your Hubspot account and go to the Contacts section. Here you’ll see all the leads created on L4leads.</li></ol>
                        </div>
                    </div>
                </div>
                <div class="tab-pane p-3 fade" id="faq-1" role="tabpanel" aria-labelledby="faq-tab">

                    <div id="accordion-eg3" class="accordion" role="tablist">
                        <div class="card">
                            <a class="h6 mb-0 card-header" data-toggle="collapse" href="#general-accordion"
                               aria-expanded="true" aria-controls="general-accordion" role="tab" id="general">
                                General
                            </a>

                            <div id="general-accordion" class="collapse show" role="tabpanel"
                                 aria-labelledby="general" data-parent="#accordion-eg3">
                                <div class="card-body">gggggggggggg</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#billling-accordion"
                               aria-expanded="false" aria-controls="billling-accordion" role="tab" id="billing">
                                Billing & Pricing
                            </a>
                            <div id="billling-accordion" class="collapse" role="tabpanel" aria-labelledby="billing"
                                 data-parent="#accordion-eg3">
                                <div class="card-body">bbbbbbbbb</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#subscriptions-accordion"
                               aria-expanded="false" aria-controls="subscriptions-accordion" role="tab" id="subscriptions">
                                Subscriptions
                            </a>
                            <div id="subscriptions-accordion" class="collapse" role="tabpanel"
                                 aria-labelledby="subscriptions" data-parent="#accordion-eg3">
                                <div class="card-body">ssssssssss</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#requests-usage-accordion"
                               aria-expanded="false" aria-controls="requests-usage-accordion" role="tab" id="requests-usage ">
                                Requests & Usage
                            </a>
                            <div id="requests-usage-accordion" class="collapse" role="tabpanel"
                                 aria-labelledby="requests-usage " data-parent="#accordion-eg3">
                                <div class="card-body">rrrrrrr</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#domain-search-accordion"
                               aria-expanded="false" aria-controls="domain-search-accordion" role="tab" id="domain-search">
                                Domain Search
                            </a>
                            <div id="domain-search-accordion" class="collapse" role="tabpanel"
                                 aria-labelledby="domain-search" data-parent="#accordion-eg3">
                                <div class="card-body">dddddddddd</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#bulk-tasks-accordion"
                               aria-expanded="false" aria-controls="bulk-tasks-accordion" role="tab" id="bulk-tasks">
                                Bulk Tasks
                            </a>
                            <div id="bulk-tasks-accordion" class="collapse" role="tabpanel"
                                 aria-labelledby="bulk-tasks" data-parent="#accordion-eg3">
                                <div class="card-body">bbbbbbbbbb</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#leads-accordion"
                               aria-expanded="false" aria-controls="leads-accordion" role="tab" id="leads">
                                Leads
                            </a>
                            <div id="leads-accordion" class="collapse" role="tabpanel"
                                 aria-labelledby="leads" data-parent="#accordion-eg3">
                                <div class="card-body">llllllllllll</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#chrome-accordion"
                               aria-expanded="false" aria-controls="chrome-accordion" role="tab" id="chrome">
                                Chrome Extension and firefox add-on
                            </a>
                            <div id="chrome-accordion" class="collapse" role="tabpanel"
                                 aria-labelledby="chrome" data-parent="#accordion-eg3">
                                <div class="card-body">cccccccccc</div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#account-profile-accordion"
                               aria-expanded="false" aria-controls="account-profile-accordion" role="tab" id="account-profile">
                                Account & Profile
                            </a>
                            <div id="account-profile-accordion" class="collapse" role="tabpanel"
                                 aria-labelledby="account-profile" data-parent="#accordion-eg3">
                                <div class="card-body">aaaaaaaaaaa</div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Page contents -->

