---
title: "Imprint"
legal: true
posted: 2018-03-09
---

<!-- Page Title -->
<div class="jumbotron jumbotron-fluid m-0 p-3 py-md-5 px-md-0 bg-secondary content__jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center font-weight-bold">Imprint</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<!-- Page contents -->
<div class="container bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <p>
                TRGTR is a service offered by The Insightist UG, a fully owned subsidiary of
                Global Learning Ventures UG.

            </p>

            <address>
                <h5>Corporate Address:</h5>
                The Insightist UG<br>
                Factory Berlin<br>
                Rheinsberger Str. 76/77<br>
                10115 - Germany<br>
                Email: <a href="mailto:hello@insight.ist" class="text-primary">hello@insight.ist</a>
            </address>

<p>
            <strong>Director:</strong> Dr. A. Ninan<br>
    <strong>Registered:</strong> Amtsgericht Charlottenburg (Berlin)<br>
        <strong>Registration Number:</strong> HRB 188901 B<br>
            <strong>VAT Number:</strong> DE 313214946<br>
            For an Online Dispute Resolution (ODR) according to paragraph 14.1 of the
            EU Provision No. 524/2013, please visit the ODR platform provided by the
            European Commission through this link: <a href="http://ec.europa.eu/consumers/odr/" target="_blank">http://ec.europa.eu/consumers/odr/</a>
</p>

            <h4 class="pt-4">Rechtliche Hinweise zur Webseite</h4>

            <p class="text-justify">Alle Texte, Bilder und weiter hier veröffentlichten Informationen unterliegen
                dem Urheberrecht des Anbieters, soweit nicht Urheberrechte Dritter
                bestehen. In jedem Fall ist eine Vervielfältigung, Verbreitung oder öffentliche
                Wiedergabe ausschließlich im Falle einer widerruflichen und nicht
                übertragbaren Zustimmung des Anbieters gestattet.</p>

            <p class="text-justify">Für alle mittels Querverweis (Link) verbundenen Webinhalte übernimmt der
                Anbieter keine Verantwortung, da es sich hierbei nicht um eigene Inhalte
                handelt. Die verlinkten Seiten wurden auf rechtswidrige Inhalte überprüft, zum
                Zeitpunkt der Verlinkung waren solche nicht erkennbar. Verantwortlich für den
                Inhalt der verlinkten Seiten ist deren Betreiber. Der Anbieter hat hierzu keine
                allgemeine Überwachungs- und Prüfungspflicht. Bei Bekanntwerden einer
                Rechtsverletzung wird der entsprechende Link jedoch umgehend entfernt.</p>
        </div>
    </div>
</div>
<!-- /Page contents -->

