---
title: "Welcome"
---

<!--<div class="jumbotron jumbotron-fluid m-0 p-0 bg-secondary content__jumbotron"></div>-->

<!-- Accurate -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Search</h5>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                                <label class="col-form-label mr-3">Search by</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioDomain" name="Search-by"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadioDomain">Domain</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioIndustry" name="Search-by"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioIndustry">Industry, Job Function & Location </label>
                                </div>
                            </div>


                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary">
                                        <i class="icon-magnifier"></i>Search
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-check form-check-inline">
                            <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                <input class="custom-control-input" required="" checked="" type="checkbox">
                                <span class="custom-control-indicator" data-toggle-on="ON"
                                      data-toggle-off="OFF"></span>
                                <span class="custom-control-description">Professional</span>
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                <input class="custom-control-input" required="" type="checkbox">
                                <span class="custom-control-indicator" data-toggle-on="ON"
                                      data-toggle-off="OFF"></span>
                                <span class="custom-control-description">Role based </span>
                            </label>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Accurate -->


