---
title: "Dashboard"
subtitle: Welcome to the unique Material Design admin web app experience!
dashboard: true
posted: 2014-01-28

---

<div class="jumbotron jumbotron-fluid m-0 p-3 p-md-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
            </div>
            <div class="col-md-6 px-0">
                <h1 class="display-2 font-weight-bold">Find the <mark class="p-0 mark-primary mark-lg">right contacts</mark></h1>
                <p class="lead mt-5 mb-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                <a class="btn btn-primary btn-raised btn-xl" href="#" role="button">CLICK HERE TO SIGN UP NOW!</a>
                <p></p>
                <small class="text-muted d-flex align-items-center"><span class="badge badge-info pointed arrow-right mr-2"><i class="icon-bell mr-0"></i></span> Avail free monthly access upto 250 contact details</small>
            </div>
        </div>
    </div>
</div>

<!-- Accurate -->

<div class="container accurate bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <h1 class="font-weight-bold text-center text-info">Accurate and Affordable Professional Contacts</h1>
            <div class="row text-center my-5">
                <div class="col-md-6">
                    <h3 class="font-weight-bold">Professional Email Address</h3>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
                <div class="col-md-6">
                    <h3 class="font-weight-bold">Real-time Email Validation</h3>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
            </div>
            <p class="lead text-primary text-center mt-5">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        </div>
    </div>
</div>

<!-- /Accurate -->

<!-- More features -->

<div class="container more-features bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <h1 class="display-3 font-weight-bold text-center text-info">More features!</h1>
            <h3 class="font-weight-bold text-center">We've got you covered.</h3>
            <div class="row text-center my-5">
                <div class="col-md-4">
                    <h5 class="font-weight-bold">Professional Email Address</h5>
                    <p class="my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
                <div class="col-md-4">
                    <h5 class="font-weight-bold">Real-time Email Validation</h5>
                    <p class="my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
                <div class="col-md-4">
                    <h5 class="font-weight-bold">Real-time Email Validation</h5>
                    <p class="my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
            </div>
            <p class="lead text-primary text-center mt-5">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        </div>
    </div>
</div>

<!-- /More features -->

<!-- Search by -->

<div class="container search-by bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 d-md-flex flex-column  align-items-end">
                    <h4 class="font-weight-bold text-info m-0 p-0">Search by</h4>
                    <h1 class="display-4 font-weight-bold text-secondary">Domain</h1>
                </div>
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Real-time Email Validation</h5>
                    <p class="lead">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 d-md-flex flex-column  align-items-end">
                    <h4 class="font-weight-bold text-info m-0 p-0">Search by</h4>
                    <h1 class="display-4 font-weight-bold text-secondary">Industry</h1>
                </div>
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Real-time Email Validation</h5>
                    <p class="lead">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 d-md-flex flex-column  align-items-end">
                    <h4 class="font-weight-bold text-info m-0 p-0">Search by</h4>
                    <h1 class="display-4 font-weight-bold text-secondary">Location</h1>
                </div>
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Real-time Email Validation</h5>
                    <p class="lead">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- /Search by -->


<!-- Right target -->

<div class="container right-target bg-white my-5">
    <div class="row">
        <div class="col-md-6 bg-secondary d-flex align-items-center justify-content-center p-5">2</div>
        <div class="col-md-6 bg-primary p-5">
            <h5 class="display-3 font-weight-bold text-secondary">Find the <br> <mark class="p-0 mark-secondary">right targets.</mark></h5>
            <h1 class="font-weight-bold text-secondary mt-5">Refined Search</h1>
            <p class="lead text-white">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        </div>
    </div>
</div>

<!-- /Right target -->

<!-- Plan -->

<div class="container plan bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12 ">
            <h1 class="display-4 font-weight-bold text-center text-info">Choose a plan!</h1>
            <h4 class="font-weight-bold text-center">No bullshit pricing: with annual and monthly plans</h4>

            <div class="row  text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-info btn-raised btn-xl btn-block" href="#" role="button">COMPARE PLANS</a>
                    <a class="btn btn-primary btn-raised btn-xl btn-block" href="#" role="button">SIGN UP FOR FREE!</a>
                    <p class="lead mt-4">No Credit Card Required!</p>
                </div>
                <div class="col-md-4"></div>
            </div>

        </div>
    </div>
</div>

<!-- /Plan -->


<!-- Questions -->

<div class="container accurate bg-white p-5 my-5">
    <div class="row p-md-5">
        <div class="col-md-12 ">
            <h1 class="font-weight-bold text-center text-info">Questions, Comments, Concerns, Ideas?</h1>
            <h4 class="text-center">We want to hear, and we're here to help. <a class="text-info" href="#" role="button"><mark  class="p-0 mark-info mark-sm">Drop us a line.</mark></a></h4>
        </div>
    </div>
</div>

<!-- /Questions -->


