---
title: "My Leads"
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">My Leads <small class="card-subtitle text-muted h6">2nd Mar 2018 </small></h4>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="extended-vertical outline">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" href="#">Lead 1<span class="ml-auto badge badge-light pointed arrow-left">18</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" href="#">Lead 2<span class="ml-auto badge badge-primary pointed arrow-left">18</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" href="#">Lead 3<span class="ml-auto badge badge-light pointed arrow-left">0</span></a>
                                    </li>
                                </ul>
                            </div>
                            <a class="btn btn-info btn-block mt-4" href="new_list.html" role="button"><i class="icon-plus mr-1"></i>Create new</a>
                        </div>
                        <div class="col-md-9">

                            <div class="row mb-4 mt-2 mt-md-0">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-outline-info btn-sm"><i class="fas fa-download mr-2"></i>Export</button>
                                    <button type="button" class="btn btn-outline-info btn-sm"><i class="icon-check"></i>Validate</button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end mt-2 mt-md-0">
                                    <a class="btn btn-primary btn-sm" href="apps.html" role="button"><i class="icon-link mr-1"></i>Connect to a Service</a>
                                </div>
                            </div>

                            <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox" class="" id=""></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="text-right">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="" id=""></td>
                                    <td><a href="" class="text-info">Stan Ng</a></td>
                                    <td><a class="text-info" href=""
                                               data-color="dark"
                                               data-html="true"
                                               data-trigger="hover"
                                               data-container="body" data-toggle="popover"
                                               data-placement="right" title="Validate details"
                                               data-content="<b>Last validate on: </b><u>2018.01-03</u><br/><b>Result: </b><i class='icon-check text-success'></i> Verified as real address">

                                        stan@apple.com
                                    </a></td>
                                    <td class="text-right"><i class="icon-check text-success"></i></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


