---
title: "My Leads"
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">My Leads</h4>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="extended-vertical outline">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" href="#">Home<span class="ml-auto badge badge-light pointed arrow-left">18</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" href="#">Profile<span class="ml-auto badge badge-primary pointed arrow-left">18</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" href="#">Message<span class="ml-auto badge badge-light pointed arrow-left">0</span></a>
                                    </li>
                                </ul>
                            </div>
                            <a class="btn btn-info btn-block btn-sm mt-4" href="#" role="button"><i class="icon-plus mr-1"></i>Create new</a>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="text-right">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><a href="" class="text-info">Stan Ng</a></td>
                                    <td><a class="text-info" href=""
                                               data-color="dark"
                                               data-html="true"
                                               data-trigger="hover"
                                               data-container="body" data-toggle="popover"
                                               data-placement="top" title="Validate details"
                                               data-content="<b>Last validate on: </b><u>2018.01-03</u><br/><b>Result: </b><i class='icon-check text-success'></i> Verified as real address">

                                        stan@apple.com
                                    </a></td>
                                    <td class="text-right"><i class="icon-check text-success"></i></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


