---
layout: login-register
title: "Login"
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md">
        </div>
        <div class="col-12 col-md">
            <p class="mx-auto w-50 text-center">sd</p>
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="font-weight-bold pb-3">Welcome back!</h5>
                    <form class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Enter email" required>
                            <div class="invalid-feedback">Please provide a valid email.</div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Password" required>
                            <div class="invalid-feedback">Please provide a password.</div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-xl btn-raised btn-block">Log me in</button>
                    </form>
                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>
                </div>
                <div class="card-footer bg-white justify-content-center pt-4">
                    <p class="h5 text-muted">Don't have an account?<a href="#" class="text-info">
                        <mark class="p-0 mark-info mark-sm">Sign up today!</mark>
                    </a></p>
                </div>
                <div class="card-footer bg-white justify-content-center border-top-0">
                    <p class="h6"><a href="#" class="text-muted">Frogot your password?</a></p>
                </div>

            </div>
            <p class="text-info">2018 trgtr. All Rights Reserved.</p>
        </div>
        <div class="col-12 col-md">
        </div>
    </div>

</div>
