---
title: "New Lead List"
---


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">New Lead List</h4>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Lead List Name">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary">
                                        <i class="icon-check mr-1"></i>Create
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


