---
layout: login-register
title: "Reset Password"
posted: 2018-03-09
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md">
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-5">
            <p class="mx-auto w-50 text-center">
                <a  href="index.html"><img src="{{assets}}/img/logo-trgtr-black.svg" class="w-50 mb-3" alt="trgtr"></a></p>
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="font-weight-bold pb-3"> Reset Password</h5>
                    <form class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Enter email" required>
                            <div class="invalid-feedback">Please provide a valid email.</div>
                        </div>

                        <button type="submit" class="btn btn-info btn-xl btn-raised btn-block">Send Password reset Link</button>
                    </form>
                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>
                </div>

            </div>
            <p class="text-info">2018 trgtr. All Rights Reserved.</p>
        </div>
        <div class="col-12 col-md">
        </div>
    </div>

</div>
