---
title: "Privacy Policy"
legal: true
posted: 2018-03-09
---

<!-- Page Title -->
<div class="jumbotron jumbotron-fluid m-0 p-3 py-md-5 px-md-0 bg-secondary content__jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center font-weight-bold">Privacy Policy</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<!-- Page contents -->
<div class="container bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">

            <p class="text-justify">The Insightist UG (used as “us”/"we"/“our" in this privacy policy) operates the <a href="https://trgtr.io" class="text-muted">https://trgtr.io</a> website (the “Service" or trgtr.io hereafter).
                This page informs you of our policies regarding the collection, use and disclosure of personal information when you use our Service.
                We use your personal information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Use, accessible at <a href="https://trgtr.io/privacy" class="text-muted">https://trgtr.io</a> We will not use or share your information with anyone except as described in this Privacy Policy.
            </p>
            <h5><strong class="text-muted">User Information</strong></h5>
            <p class="text-justify">
                All the data of your account is yours. While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address, and your company details ("Personal Information”). All this information is used to personalise your customer experience or send you on-boarding emails and invoices. This basic information about your account is only accessible to the concerned departments within our team and will never be shared with third parties.
            </p>
            <p class="text-justify">
                The data that results from your use of the product (e.g. the searches you do on trgtr.io, the files you upload, the data accessible via connected applications) will only be accessed by the team with your permission to help you with a problem or squash a software bug.
            </p>
            <p class="text-justify">
                We use "cookies" to collect information ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics. The Log Data is not used for identifying individual customers but only for the purpose of optimising our services. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
            </p>
            <p class="text-justify">
                In addition, we may use third party services such as Google Analytics that collect, monitor and analyze usage information in order to analyse, optimise and facilitate our Service, to provide the Service on our behalf, to perform Service-related services. These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
            </p>

            <h5><strong class="text-muted">Data Collection</strong></h5>
            <p class="text-justify">
                Trgtr.io is in the business of identifying and processing professional contact information from online sources. For this purpose our tools crawl the entire web and index all the email addresses and related information it can find. All the information, including email addresses distributed in the service with an indication of the place they have been found ("Sources"). There are some cases where we don’t collect or distribute these email addresses:
            </p><ul>
            <li>Our crawling tools follows the robots.txt files. Commonly used for search engines, robots.txt files are used on a website to indicate what pages can be read crawlers. If a website does not wish some pages to be read, our crawlers do not read/process them.</li>
            <li>We never distribute webmail email addresses, like Gmail or Yahoo. Trgtr.io is designed for professional use only.</li>
            <li>Whenever a professional asks for his information to be removed from our database, it is promptly moved from our database.</li>
        </ul>
            <p></p>
            <p class="text-justify">
                Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
            </p>
            <p class="text-justify">
                If you are located outside Germany and choose to provide information to us, please note that we transfer the information, including Personal Information, to EU and process it there.
            </p>
            <p class="text-justify">
                Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
            </p>

            <h5><strong class="text-muted">Security</strong></h5>
            <p class="text-justify">The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is completely secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
            <p class="text-justify">All data is encrypted via SSL/TLS when transmitted from our servers to your browser. We continuously work to improve the overall security of Trgtr.io</p>

            <h5><strong class="text-muted">Updates To This Privacy Policy</strong></h5>
            <p class="text-justify">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page or by emailing the customers in case of a significant change.</p>
            <p class="text-justify">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

            <h5><strong class="text-muted">Contact Us</strong></h5>
            <p class="text-justify">If you have any questions about this Privacy Policy, please contact us by email at <a href="mailto:support@trgtr.io" class="text-muted">support@trgtr.io</a></p>
        </div>
    </div>
</div>
<!-- /Page contents -->

