---
title: "Security Policy"
legal: true
posted: 2018-03-09
---

<!-- Page Title -->
<div class="jumbotron jumbotron-fluid m-0 p-3 py-md-5 px-md-0 bg-secondary content__jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center font-weight-bold">Security Policy</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<!-- Page contents -->
<div class="container bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <h5><strong class="text-muted">Data encryption</strong></h5>
            <p class="text-justify">
                All communication between you and our servers are encrypted using HTTPS. We use HSTS to allow your browser to know in advance that it should only communicate with us using HTTPS. Our backups of your data are always encrypted. To improve their durability they’re stored in a separate geographical zone.
            </p>

            <h5><strong class="text-muted">Physical security</strong></h5>
            <p class="text-justify">
                We carefully chose our hosting providers. We make sure our infrastructure has full redundancy for every major system, including the power supply and internet connection. The data centers we use have surveillance teams on site 24/7, barbed-wire fencing and strict security procedures.
            </p>

            <h5><strong class="text-muted">Infrastructure</strong></h5>
            <p class="text-justify">We’re continuously updating our infrastructure to stay on top of new vulnerability. All of our servers are monitored closely and logs are stored indefinitely.</p>

            <h5><strong class="text-muted">Billing information</strong></h5>
            <p class="text-justify">We never store your billing information on our servers. They are handled by our partners.</p>

            <h5><strong class="text-muted">Security Bug Bounty Program</strong></h5>
            <p class="text-justify">We work with security researchers to keep up with the state-of-the-art in web security.</p>
        </div>
    </div>
</div>
<!-- /Page contents -->

