---
title: "Terms & Conditions"
legal: true
posted: 2018-03-09
---

<!-- Page Title -->
<div class="jumbotron jumbotron-fluid m-0 p-3 py-md-5 px-md-0 bg-secondary content__jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center font-weight-bold">Terms & Conditions</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<!-- Page contents -->
<div class="container bg-white p-5 mb-5">
    <div class="row p-md-5">
        <div class="col-md-12">
            <p class="text-justify">Please read these Terms of Use (“Terms”/“Terms of Use” hereafter) carefully before using the <a href="https://trgtr.io" class="text-muted">https://trgtr.io</a> website (the "Service") operated by The Insightist UG (“us”/ “we”/ “our”/ “trgtr.io" hereafter). The following terms govern use of the services of trgtr.io website and all content, services and products available at, or through, the website, including, but not limited to, the Trgtr services ("Trgtr.io"), (taken together, the Services). The Services offered is subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies, and procedures that may be published from time to time on this website by The Insightist UG (collectively, the “Agreement").
            </p>
            <p class="text-justify">
                Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. If these terms and conditions are considered an offer by Trgtr.io, acceptance is expressly limited to these terms.
            </p>
            <p class="text-justify">
                The Services are available only to individuals who are at least 18 years old.
            </p>

            <strong class="text-muted">Subscriptions</strong><p></p>
            <p class="text-justify">
                By signing up for a Trgtr.io account you agree to pay Trgtr.io the fees indicated to you when you registered for the service in exchange for the Trgtr.io services. Applicable fees will be invoiced starting from the day your paid account is established and in advance of using such services. Some of the Services are billed on a subscription basis ("Subscription"). You will be billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set either on a monthly or annual basis, depending on the type of subscription plan you select when purchasing a Subscription.
            </p>
            <p class="text-justify">
                Unless you cancel or notify Trgtr.io to cancel the subscription before the end of the applicable subscription period that you want to cancel, your subscription will automatically renew and you authorise us to collect the then-applicable annual or monthly subscription fee using any credit card or other payment mechanism we have on record for you. Subscriptions can be canceled at any time in the Settings section of your account's dashboard. If you want to cancel automatic renewal, you may cancel your Subscription renewal either through your online account management page or by contacting trgtr.io customer support team.
            </p>
            <p class="text-justify">
                A valid payment method, including credit card, is required to process the payment for your Subscription. You shall provide trgtr.io with accurate and complete billing information including full name, address, state, zip code, telephone number, and a valid payment method information. By submitting such payment information, you automatically authorize The Insightist UG to charge all Subscription fees incurred through your account to any such payment instruments.
            </p>
            <p class="text-justify">
                The Insightist UG, in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle. The Insightist UG will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.
                Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.
            </p>
            <p class="text-justify">
                Optional paid services, such as extra capacity, are available on the Services (any such services, an "Upgrade"). By selecting an Upgrade you agree to pay Insightist UG the monthly or annual subscription fees indicated for that service (additional payment terms are described below). Payments will be charged on a pre-pay basis on the day you sign up for an Upgrade and will cover the use of that service for a monthly or annual subscription period as indicated. Upgrade fees are not refundable.
            </p>
            <p class="text-justify">
                Should automatic billing fail to occur for any reason, The Insightist UG will issue an electronic invoice indicating that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing period as indicated on the invoice.
            </p>


            <strong class="text-muted">User Account</strong><p></p>
            <p class="text-justify">
                If you create an account on the Services, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You must immediately notify Trgtr.io of any unauthorised uses of your account or any other breaches of security. Trgtr.io will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
            </p>
            <p class="text-justify">
                You must be a human to avail the services by trgtr.io. Accounts registered by "bots" or other automated methods are not permitted. You must provide your legal full name, a valid email address, and any other information requested in order to complete the sign-up process. You must not, in the use of the Services, violate any laws in your jurisdiction and in the Federal Republic of Germany or European Union (including but not limited to copyright or trademark laws). You must not create more than one account.
            </p>


            <strong class="text-muted">Support</strong><p></p>
            <p class="text-justify">
                Trgtr.io includes access to email support. "Email support" means the ability to make requests for technical support assistance by email at any time (with reasonable efforts by Trgtr.io to respond within three business days) concerning the use of Trgtr.io. All Trgtr.io support will be provided in accordance with Trgtr.io standard Trgtr.io practices, procedures, and policies.
            </p>


            <strong class="text-muted">Usage of Your Name &amp; Logos</strong><p></p>
            <p class="text-justify">
                As a user who avail our services, you give Trgtr.io a world-wide license to use your company's assets and logos, for marketing and sales efforts, such as being displayed on the homepage, unless Trgtr.io agrees in writing otherwise.
            </p>

            <strong class="text-muted">Damage and liability</strong><p></p>
            <p class="text-justify">
                You expressly understand and agree that Trgtr.io shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to: damages for loss of profits, goodwill, use, data or other intangible losses (even if Trgtr.io has been advised of the possibility of such damages), resulting from your use of the API or third-party products that access data via the API.
            </p>

            <strong class="text-muted">Third-party Services</strong><p></p>
            <p class="text-justify">
                Our Service may contain links to third-party web sites or services that are not owned or controlled by The Insightist UG. The Insightist UG has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that The Insightist UG shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
            </p>
            <p class="text-justify">
                We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
            </p>

            <strong class="text-muted">Discontinuation</strong><p></p>
            <p class="text-justify">
                Trgtr.io reserves the right at any time to modify or discontinue, temporarily or permanently, your access to the API (or any part thereof) with or without notice.
            </p>

            <strong class="text-muted">Copyright &amp; Intellectual Property</strong><p></p>
            <p class="text-justify">
                This Agreement does not transfer any Trgtr.io or third party intellectual property from Trgtr.io to you, and all right, title and interest in and to such property will remain (as between the parties) solely with Trgtr.io. Trgtr.io, the Trgtr.io logo, and all other trademarks, service marks, graphics and logos used in connection with Trgtr.io, or the Services are trademarks or registered trademarks of The Insightist UG or The Insightist UG licensors. Other trademarks, service marks, graphics and logos used in connection with the Services may be the trademarks of other third parties. Your use of the Services grants you no right or license to reproduce or otherwise use any Trgtr.io or third-party trademarks.
            </p>
            <p class="text-justify">
                We take stringent measures not to infringe the intellectual property rights of other parties as we protect ours. If you believe that material located on or linked to by Trgtr.io violates your copyright, you are encouraged to notify Trgtr.io. Trgtr.io will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. Trgtr.io will terminate a visitor's access to and use of the Services if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Trgtr.io or others. In the case of such termination, Trgtr.io will have no obligation to provide a refund of any amounts previously paid to trgtr.io.
            </p>

            <strong class="text-muted">User License</strong><p></p>
            <p class="text-justify">
                Under this license you may not attempt to decompile or reverse engineer any software contained on Trgtr.io's web site or API; access the Site or Services in order to build a similar or competitive service. This license shall automatically terminate if you violate any of these restrictions and may be terminated by Trgtr.io at any time.
            </p>

            <strong class="text-muted">Changes</strong><p></p>
            <p class="text-justify">
                We reserves the right, at its sole discretion, to modify or replace any part of this Agreement. If a revision is planned we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. However, it is your responsibility to check this Agreement periodically for changes. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. Trgtr.io may also, in the future, offer new services and/or features through the Services (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement. If you do not agree to the new terms, we suggest you terminate your using the Service.
            </p>

            <strong class="text-muted">Termination</strong><p></p>
            <p class="text-justify">
                Trgtr.io may terminate your access to all or any part of the Services at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Trgtr.io account (if you have one), you may simply discontinue using the Services. Notwithstanding the foregoing, if you have a paid Trgtr.io account, such account can only be terminated by Trgtr.io if you materially breach this Agreement and fail to cure such breach within thirty (30) days from Trgtr.io’s notice to you thereof; provided that, Trgtr.io can terminate the Services immediately as part of a general shut down of our service. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>

            <strong class="text-muted">Warranties &amp; Liabilities</strong><p></p>
            <p class="text-justify">
                The Services is provided “as is”. Trgtr.io and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Trgtr.io nor its suppliers and licensors, makes any warranty that the Services will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Services at your own discretion and risk.
            </p>
            <p class="text-justify">
                In no event will Trgtr.io, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Trgtr.io under this agreement during the twelve (12) month period prior to the cause of action. Trgtr.io shall have no liability for any failure or delay due to matters beyond or not within their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
            </p>
            <p class="text-justify">
                You represent and warrant that (i) your use of the Services will be in strict accordance with the Trgtr.io Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the European Union or the country in which you reside) and (ii) your use of the Services will not infringe or misappropriate the intellectual property rights of any third party.
            </p>

            <strong class="text-muted">General Representation and Warranty</strong><p></p>
            <p class="text-justify">
                You represent and warrant that (i) your use of the Services will be in strict accordance with the L4Leads Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from India or the country in which you reside) and (ii) your use of the Services will not infringe or misappropriate the intellectual property rights of any third party.
            </p>

            <strong class="text-muted">Indemnification</strong><p></p>
            <p class="text-justify">
                You agree to indemnify and hold harmless Trgtr.io, its contractors, its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Services, including but not limited to your violation of this Agreement.
            </p>

            <strong class="text-muted">Legal Status</strong><p></p>
            <p class="text-justify">
                Being a service offered by a private limited liability company based in Germany, these Terms shall be governed and construed in accordance with the laws of the Federal Republic of Germany and European Union, without regard to its conflict of law provisions.
            </p>
            <p class="text-justify">
                Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
            </p>

            <strong class="text-muted">Contact Us</strong><p></p>
            <p class="text-justify">
                If you have any questions about these Terms, please contact us by email at <a href="mailto:support@trgtr.io" class="text-muted">support@trgtr.io</a>.
            </p>
        </div>
    </div>
</div>
<!-- /Page contents -->

