---
title: "Upgrade"
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Plans</h3>

            <div class="card card-body">

            <ul class="nav nav-tabs justify-content-center extended" id="myTab-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="monthly-tab-3" data-toggle="tab" href="#monthly-3" role="tab" aria-controls="monthly-3" aria-selected="true">Monthly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="yearly-tab-3" data-toggle="tab" href="#yearly-3" role="tab" aria-controls="yearly-3" aria-selected="false">Yearly</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent-3">
                <div class="tab-pane pt-3 fade show active" id="monthly-3" role="tabpanel" aria-labelledby="monthly-tab-3">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th class="bg-light"></th>
                                <th class="bg-light"><h4 class="text-dark">Free</h4> <h6 class="text-dark"><b>$0</b> / month</h6></th>
                                <th class="bg-light"><h4 class="text-dark">Amateur</h4><h6 class="text-dark"><b>$19</b> / month</h6></th>
                                <th class="bg-light"><h4 class="text-dark">Hustler</h4><h6 class="text-dark"><b>$39</b> / month</h6></th>
                                <th class="bg-light"><h4 class="text-dark">Startup</h4><h6 class="text-dark"><b>$69</b> / month</h6></th>
                                <th class="bg-primary"><h4 class="text-secondary">Growth</h4><h6 class="text-secondary"><b>$99</b> / month</h6></th>
                                <th class="bg-secondary"><h4 class="text-primary">Pro</h4><h6 class="text-primary"><b>$169</b> / month</h6></th>
                                <th class="bg-info"><h4 class="text-white">Super Pro</h4><h6 class="text-white"><b>$329</b> / month</h6></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <th class="text-right text-dark">Coins</th>
                                <td>250</td>
                                <td>1,000</td>
                                <td>2,500</td>
                                <td>5,000</td>
                                <td>10,000</td>
                                <td>20,000</td>
                                <td>50,000</td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-right text-dark">Searches</th>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-right text-dark">Exports</th>
                                <td><i class="icon-close text-danger"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-right text-dark">Email Validation</th>
                                <td><i class="icon-close text-danger"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                            </tr>
                            <tr class="text-center">
                                <th></th>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-primary btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-secondary btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-info btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane pt-3 fade" id="yearly-3" role="tabpanel" aria-labelledby="yearly-tab-3">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th class="bg-light"></th>
                                <th class="bg-light"><h4 class="text-dark">Free</h4> <h6 class="text-dark"><b>$0</b> / month</h6></th>
                                <th class="bg-light"><h4 class="text-dark">Amateur</h4><h6 class="text-dark"><b>$190</b> / month<br><b>$2,280</b> / year</h6></th>
                                <th class="bg-light"><h4 class="text-dark">Hustler</h4><h6 class="text-dark"><b>$390</b> / month<br><b>$4,680</b> / year</h6></th>
                                <th class="bg-light"><h4 class="text-dark">Startup</h4><h6 class="text-dark"><b>$690</b> / month<br><b>$8,280</b> / year</h6></th>
                                <th class="bg-primary"><h4 class="text-secondary">Growth</h4><h6 class="text-secondary"><b>$990</b> / month<br><b>$11,880</b> / year</h6></th>
                                <th class="bg-secondary"><h4 class="text-primary">Pro</h4><h6 class="text-primary"><b>$1490</b> / month<br><b>$17,880</b> / year</h6></th>
                                <th class="bg-info"><h4 class="text-white">Super Pro</h4><h6 class="text-white"><b>$3290</b> / month<br><b>$39,480</b> / year</h6></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <th class="text-right text-dark">Coins</th>
                                <td>250</td>
                                <td>12,000</td>
                                <td>30,000</td>
                                <td>60,000</td>
                                <td>120,000</td>
                                <td>240,000</td>
                                <td>50,000</td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-right text-dark">Searches</th>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-right text-dark">Exports</th>
                                <td><i class="icon-close text-danger"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-right text-dark">Email Validation</th>
                                <td><i class="icon-close text-danger"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                                <td><i class="icon-check text-success"></i></td>
                            </tr>
                            <tr class="text-center">
                                <th></th>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-light btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-primary btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-secondary btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                                <td><a class="btn btn-info btn-block btn-raised btn-sm" href="#" role="button">Pay with Card</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>


