---
title: "Validate Email Address"
---


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Validate Email Address</h4>
                </div>
                <div class="card-body">
                    <form action="">

                        <h5>Enter an Email Address</h5>
                        <p>Each successful validation cost one of your credit</p>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Email address">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary">
                                        <i class="icon-check mr-1"></i>Validate
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


