<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> head }}
</head>
<body class="theme-yellow">

<div class="main-wrap">
    <section class="app">

        <!-- Header -->
        <header class="master-header">
            <div class="master-header__wrap">{{> header }}</div>
        </header>
        <!-- /Header -->

        <!--Main content-->
        <main class="content">
            <section class="content__wrap">

                <!-- Page content -->
                    {{> body }}
                <!-- /Page content -->

            </section>
        </main>
        <!-- /Main content-->

        <!-- Footer -->
        <footer class="master-footer">
            <div class="master-footer__wrap"> {{> footer }}</div>
        </footer>
        <!-- /Footer -->

    </section>
</div>

<!-- Placed JavaScript at the end of the document so the pages load faster -->
{{> footer-scripts }}
</body>
</html>