<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> head }}
</head>
<body class="theme-yellow ">

<div class="main-wrap">
    <section class="app">

        <!--Main content-->
        <main class="content">
            <section class="content__wrap py-5 {{#is page.title "Login"}} bg-info {{ else }}bg-secondary{{/is}} d-flex justify-content-center align-items-center">

                <!-- Page content -->
                    {{> body }}
                <!-- /Page content -->

            </section>
        </main>
        <!-- /Main content-->

    </section>
</div>

<!-- Placed JavaScript at the end of the document so the pages load faster -->
{{> footer-scripts }}
</body>
</html>